<% admin_title "Edit comment" %>

<div id="edit-comment">
  <%= form_for @comment, :url => admin_comment_path(@comment) do |f| %>
    <p><%= f.text_area :content, :size => "80x10", :style => "width: 100%" %></p>
    <%= submit_tag "Update" %> <%= link_to 'Back', commentable_path(@comment), :title => @comment.commentable.title %>
  <% end %>
</div>
