	  <div class="post">
	    <h2 class="title"><a href="#">Lorem Ipsum Dolor Volutpat</a></h2>
	    <p class="byline">Posted by FreeCssTemplates</p>
	    <div class="entry">
	      <p><img src="images/img06.jpg" alt="" width="564" height="294" /></p>
	      <p>This is <strong>Featuring</strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>, released for free under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a> license.  The photo used in this template is from <a href="http://www.pdphoto.org">PDPhoto.org</a>. You're free to use this template for anything as long as you link back to <a href="http://www.freecsstemplates.org/">my site</a>. Enjoy :)</p>
	    </div>
	    <div class="meta">
	      <p class="links"><a href="#" class="comments">Comments (32)</a></p>
	    </div>
	  </div>
	  <div class="post">
	    <h2 class="title"><a href="#">Lorem Ipsum Dolor Volutpat</a></h2>
	    <p class="byline">Posted by FreeCssTemplates</p>
	    <div class="entry">
	      <p><img src="images/img06.jpg" alt="" width="564" height="294" /></p><p>Curabitur tellus. Phasellus tellus turpis, iaculis in, faucibus lobortis, posuere in, lorem. Donec a ante. Donec neque purus, adipiscing id, eleifend a, cursus vel, odio. Vivamus varius justo sit amet leo. Morbi sed libero. Vestibulum blandit augue at mi. Praesent fermentum lectus eget diam. Nam cursus, orci sit amet porttitor iaculis, ipsum massa aliquet nulla, non elementum mi elit a mauris.</p>
	    </div>
	    <div class="meta">
	      <p class="links"><a href="#" class="comments">Comments (32)</a></p>
	    </div>
	  </div>
