<% title(h(@wiki_page.title)) %>

<div id="wiki">
  <% if is_admin? %>
    <div class="edit-add-links">
      <%= link_to "Back to Wiki pages", wiki_pages_path %> <%= link_to "Edit", edit_wiki_page_path(@wiki_page) %>
    </div>

    <% unless @wiki_page.is_visible? %>
      <div class="notice">The page is not visible.</div>
    <% end %>
  <% end %>

  <div class="markup">
    <%= wikify(@wiki_page.content) %>
  </div>
</div>
