<% title("Cart") %>

<div id="cart-page">
  <% if @cart.order_lines.present? %>
    <%= render :partial => "order_lines_form" %>
  <% else %>
    The cart is empty.
  <% end %>

  <div id="cart-continue-order">
    <%= link_to "Place an order", new_order_path %> or <%= link_to "Continue shopping", products_path %>
  </div>
</div>
