<% title(t(:faq)) %>

<ul>
  <li><a href="http://www.ecigtalk.ru/forum/f14/t3366.html">Электронная сигарета – как работает? Какую выбрать?</a></li>
  <li><a href="http://www.ecigtalk.ru/forum/f14/t22.html">ecigtalk.ru FAQ</a></li>
  <li><a href="http://www.ecigtalk.ru/calc/">Калькулятор жидкости</a></li>
  <li><a href="http://www.ecigtalk.ru/forum/f14/t7278.html">eGo-T FAQ</a></li>
  <li><a href="#guaranty"><%= t(:guaranty) %></a></li>
</ul>

<h3><%= t(:guaranty) %></h3>
<p>Гарантия 1 месяц на батарейки, зарядку. На атомайзеры гарантию не даем.</p>
