<% content_for :sidebar do %>
  <li>
    <ul>
      <% @tags.each do |tag| %>
        <li <%= 'id=selected' if params[:tag] == tag.name %>><%= link_to h(tag.name) + " (#{tag.count})", products_path(:tag => tag.name) %></li>
      <% end %>
    </ul>
  </li>
<% end %>

<%= render :template => "layouts/application" %>
